.u-section-1 .u-sheet-1 {
  min-height: 1087px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  margin: 7px 179px 0 0;
}

.u-section-1 .u-table-1 {
  margin-top: 0;
  margin-bottom: 19px;
  margin-left: 0;
}

.u-section-1 .u-table-header-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 900;
}

.u-section-1 .u-table-body-1 {
  letter-spacing: 2px;
  background-image: linear-gradient(270deg, #e9f2fa, #425465);
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-table-1 {
    margin-left: initial;
  }
}