.u-section-1 {
  background-image: url("images/circuit.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 796px;
}

.u-section-1 .u-list-1 {
  margin-top: 29px;
  margin-bottom: 0;
  min-height: 479px;
  grid-template-rows: auto;
  height: auto;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 16.6667px);
  grid-template-columns: repeat(3, calc(33.3333% - 16.6667px));
  grid-auto-rows: 100%;
  grid-gap: 25px;
}

.u-section-1 .u-list-item-1 {
  background-image: linear-gradient(white, #425465);
  box-shadow: 5px 5px 20px 0 rgba(66,84,101,0.4);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  text-transform: none;
  font-weight: 700;
  font-family: "Antic Slab";
  margin: 20px 0 0;
}

.u-section-1 .u-image-1 {
  height: 181px;
  margin-top: 29px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 40px -9px 0;
}

.u-section-1 .u-list-item-2 {
  background-image: linear-gradient(white, #425465);
  box-shadow: 5px 5px 20px 0 rgba(66,84,101,0.4);
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  text-transform: none;
  font-weight: 700;
  font-family: "Antic Slab";
  margin: 20px 0 0;
}

.u-section-1 .u-image-2 {
  height: 181px;
  margin-top: 29px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 40px -9px 0;
}

.u-section-1 .u-list-item-3 {
  background-image: linear-gradient(white, #425465);
  box-shadow: 5px 5px 20px 0 rgba(66,84,101,0.4);
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  text-transform: none;
  font-weight: 700;
  font-family: "Antic Slab";
  margin: 20px 0 0;
}

.u-section-1 .u-image-3 {
  height: 181px;
  margin-top: 29px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 40px -9px 0;
}

.u-section-1 .u-list-item-4 {
  background-image: linear-gradient(white, #425465);
  box-shadow: 5px 5px 20px 0 rgba(66,84,101,0.4);
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  text-transform: none;
  font-weight: 700;
  font-family: "Antic Slab";
  margin: 20px 0 0;
}

.u-section-1 .u-image-4 {
  height: 181px;
  margin-top: 29px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: 40px -9px 0;
}

.u-section-1 .u-list-item-5 {
  background-image: linear-gradient(white, #425465);
  box-shadow: 5px 5px 20px 0 rgba(66,84,101,0.4);
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-9 {
  text-transform: none;
  font-weight: 700;
  font-family: "Antic Slab";
  margin: 20px 0 0;
}

.u-section-1 .u-image-5 {
  height: 181px;
  margin-top: 29px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  margin: 40px -9px 0;
}

.u-section-1 .u-list-item-6 {
  background-image: linear-gradient(white, #425465);
  box-shadow: 5px 5px 20px 0 rgba(66,84,101,0.4);
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-11 {
  text-transform: none;
  font-weight: 700;
  font-family: "Antic Slab";
  margin: 20px 0 0;
}

.u-section-1 .u-image-6 {
  height: 181px;
  margin-top: 29px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  margin: 40px -9px 0;
}

.u-section-1 .u-list-item-7 {
  background-image: linear-gradient(white, #425465);
  box-shadow: 5px 5px 20px 0 rgba(66,84,101,0.4);
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-text-13 {
  text-transform: none;
  font-weight: 700;
  font-family: "Antic Slab";
  margin: 20px 0 0;
}

.u-section-1 .u-image-7 {
  height: 181px;
  margin-top: 29px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  margin: 40px -9px 0;
}

.u-section-1 .u-list-item-8 {
  background-image: linear-gradient(white, #425465);
  box-shadow: 5px 5px 20px 0 rgba(66,84,101,0.4);
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-text-15 {
  text-transform: none;
  font-weight: 700;
  font-family: "Antic Slab";
  margin: 20px 0 0;
}

.u-section-1 .u-image-8 {
  height: 181px;
  margin-top: 29px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-16 {
  font-weight: 700;
  margin: 40px -9px 0;
}

.u-section-1 .u-list-item-9 {
  background-image: linear-gradient(white, #425465);
  box-shadow: 5px 5px 20px 0 rgba(66,84,101,0.4);
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-text-17 {
  text-transform: none;
  font-weight: 700;
  font-family: "Antic Slab";
  margin: 20px 0 0;
}

.u-section-1 .u-image-9 {
  height: 181px;
  margin-top: 29px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  margin: 40px -9px 0;
}

.u-section-1 .u-list-item-10 {
  background-image: linear-gradient(white, #425465);
  box-shadow: 5px 5px 20px 0 rgba(66,84,101,0.4);
}

.u-section-1 .u-container-layout-10 {
  padding: 30px;
}

.u-section-1 .u-text-19 {
  text-transform: none;
  font-weight: 700;
  font-family: "Antic Slab";
  margin: 20px 0 0;
}

.u-section-1 .u-image-10 {
  height: 181px;
  margin-top: 29px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-20 {
  font-weight: 700;
  margin: 40px -9px 0;
}

.u-section-1 .u-list-item-11 {
  background-image: linear-gradient(white, #425465);
  box-shadow: 5px 5px 20px 0 rgba(66,84,101,0.4);
}

.u-section-1 .u-container-layout-11 {
  padding: 30px;
}

.u-section-1 .u-text-21 {
  text-transform: none;
  font-weight: 700;
  font-family: "Antic Slab";
  margin: 20px 0 0;
}

.u-section-1 .u-image-11 {
  height: 181px;
  margin-top: 29px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-22 {
  font-weight: 700;
  margin: 40px -9px 0;
}

.u-section-1 .u-list-item-12 {
  background-image: linear-gradient(white, #425465);
  box-shadow: 5px 5px 20px 0 rgba(66,84,101,0.4);
}

.u-section-1 .u-container-layout-12 {
  padding: 30px;
}

.u-section-1 .u-text-23 {
  text-transform: none;
  font-weight: 700;
  font-family: "Antic Slab";
  margin: 20px 0 0;
}

.u-section-1 .u-image-12 {
  height: 181px;
  margin-top: 29px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-24 {
  font-weight: 700;
  margin: 40px -9px 0;
}

.u-section-1 .u-list-item-13 {
  background-image: linear-gradient(white, #425465);
  box-shadow: 5px 5px 20px 0 rgba(66,84,101,0.4);
}

.u-section-1 .u-container-layout-13 {
  padding: 30px;
}

.u-section-1 .u-text-25 {
  text-transform: none;
  font-weight: 700;
  font-family: "Antic Slab";
  margin: 20px 0 0;
}

.u-section-1 .u-image-13 {
  height: 181px;
  margin-top: 29px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-26 {
  font-weight: 700;
  margin: 40px -9px 0;
}

.u-section-1 .u-list-item-14 {
  background-image: linear-gradient(white, #425465);
  box-shadow: 5px 5px 20px 0 rgba(66,84,101,0.4);
}

.u-section-1 .u-container-layout-14 {
  padding: 30px;
}

.u-section-1 .u-text-27 {
  text-transform: none;
  font-weight: 700;
  font-family: "Antic Slab";
  margin: 20px 0 0;
}

.u-section-1 .u-image-14 {
  height: 181px;
  margin-top: 29px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-28 {
  font-weight: 700;
  margin: 40px -9px 0;
}

.u-section-1 .u-list-item-15 {
  background-image: linear-gradient(white, #425465);
  box-shadow: 5px 5px 20px 0 rgba(66,84,101,0.4);
}

.u-section-1 .u-container-layout-15 {
  padding: 30px;
}

.u-section-1 .u-text-29 {
  text-transform: none;
  font-weight: 700;
  font-family: "Antic Slab";
  margin: 20px 0 0;
}

.u-section-1 .u-image-15 {
  height: 181px;
  margin-top: 29px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-30 {
  font-weight: 700;
  margin: 40px -9px 0;
}

.u-section-1 .u-list-item-16 {
  background-image: linear-gradient(white, #425465);
  box-shadow: 5px 5px 20px 0 rgba(66,84,101,0.4);
}

.u-section-1 .u-container-layout-16 {
  padding: 30px;
}

.u-section-1 .u-text-31 {
  text-transform: none;
  font-weight: 700;
  font-family: "Antic Slab";
  margin: 20px 0 0;
}

.u-section-1 .u-image-16 {
  height: 181px;
  margin-top: 29px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-32 {
  font-weight: 700;
  margin: 40px -9px 0;
}

.u-section-1 .u-list-item-17 {
  background-image: linear-gradient(white, #425465);
  box-shadow: 5px 5px 20px 0 rgba(66,84,101,0.4);
}

.u-section-1 .u-container-layout-17 {
  padding: 30px;
}

.u-section-1 .u-text-33 {
  text-transform: none;
  font-weight: 700;
  font-family: "Antic Slab";
  margin: 20px 0 0;
}

.u-section-1 .u-image-17 {
  height: 181px;
  margin-top: 29px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-34 {
  font-weight: 700;
  margin: 40px -9px 0;
}

.u-section-1 .u-list-item-18 {
  background-image: linear-gradient(white, #425465);
  box-shadow: 5px 5px 20px 0 rgba(66,84,101,0.4);
}

.u-section-1 .u-container-layout-18 {
  padding: 30px;
}

.u-section-1 .u-text-35 {
  text-transform: none;
  font-weight: 700;
  font-family: "Antic Slab";
  margin: 20px 0 0;
}

.u-section-1 .u-image-18 {
  height: 181px;
  margin-top: 29px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-36 {
  font-weight: 700;
  margin: 40px -9px 0;
}

.u-section-1 .u-list-item-19 {
  background-image: linear-gradient(white, #425465);
  box-shadow: 5px 5px 20px 0 rgba(66,84,101,0.4);
}

.u-section-1 .u-container-layout-19 {
  padding: 30px;
}

.u-section-1 .u-text-37 {
  text-transform: none;
  font-weight: 700;
  font-family: "Antic Slab";
  margin: 20px 0 0;
}

.u-section-1 .u-image-19 {
  height: 181px;
  margin-top: 29px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-38 {
  font-weight: 700;
  margin: 40px -9px 0;
}

.u-section-1 .u-list-item-20 {
  background-image: linear-gradient(white, #425465);
  box-shadow: 5px 5px 20px 0 rgba(66,84,101,0.4);
}

.u-section-1 .u-container-layout-20 {
  padding: 30px;
}

.u-section-1 .u-text-39 {
  text-transform: none;
  font-weight: 700;
  font-family: "Antic Slab";
  margin: 20px 0 0;
}

.u-section-1 .u-image-20 {
  height: 181px;
  margin-top: 29px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-40 {
  font-weight: 700;
  margin: 40px -9px 0;
}

.u-section-1 .u-list-item-21 {
  background-image: linear-gradient(white, #425465);
  box-shadow: 5px 5px 20px 0 rgba(66,84,101,0.4);
}

.u-section-1 .u-container-layout-21 {
  padding: 30px;
}

.u-section-1 .u-text-41 {
  text-transform: none;
  font-weight: 700;
  font-family: "Antic Slab";
  margin: 20px 0 0;
}

.u-section-1 .u-image-21 {
  height: 181px;
  margin-top: 29px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-42 {
  font-weight: 700;
  margin: 40px -9px 0;
}

.u-section-1 .u-list-item-22 {
  background-image: linear-gradient(white, #425465);
  box-shadow: 5px 5px 20px 0 rgba(66,84,101,0.4);
}

.u-section-1 .u-container-layout-22 {
  padding: 30px;
}

.u-section-1 .u-text-43 {
  text-transform: none;
  font-weight: 700;
  font-family: "Antic Slab";
  margin: 20px 0 0;
}

.u-section-1 .u-image-22 {
  height: 181px;
  margin-top: 29px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-44 {
  font-weight: 700;
  margin: 40px -9px 0;
}

.u-section-1 .u-list-item-23 {
  background-image: linear-gradient(white, #425465);
  box-shadow: 5px 5px 20px 0 rgba(66,84,101,0.4);
}

.u-section-1 .u-container-layout-23 {
  padding: 30px;
}

.u-section-1 .u-text-45 {
  text-transform: none;
  font-weight: 700;
  font-family: "Antic Slab";
  margin: 20px 0 0;
}

.u-section-1 .u-image-23 {
  height: 181px;
  margin-top: 29px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-46 {
  font-weight: 700;
  margin: 40px -9px 0;
}

.u-section-1 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 304px;
  right: 0;
}

.u-section-1 .u-shape-1 {
  height: 175px;
  margin-top: 41px;
  margin-bottom: 0;
  background-image: linear-gradient(white, #425465);
}

.u-section-1 .u-layout-wrap-1 {
  width: 1084px;
  margin: -161px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 125px;
}

.u-section-1 .u-container-layout-24 {
  padding: 20px 60px;
}

.u-section-1 .u-text-47 {
  margin: 2px 0 0;
}

.u-section-1 .u-text-48 {
  margin: 4px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 125px;
}

.u-section-1 .u-container-layout-25 {
  padding: 20px;
}

.u-section-1 .u-btn-1 {
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 16.6667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 16.6667px));
  }

  .u-section-1 .u-image-1 {
    height: 264px;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    height: 264px;
    margin-left: initial;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    height: 264px;
    margin-left: initial;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-4 {
    height: 264px;
    margin-left: initial;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-5 {
    height: 264px;
    margin-left: initial;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-6 {
    height: 264px;
    margin-left: initial;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-7 {
    height: 264px;
    margin-left: initial;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-8 {
    height: 264px;
    margin-left: initial;
  }

  .u-section-1 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-9 {
    height: 264px;
    margin-left: initial;
  }

  .u-section-1 .u-text-18 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-10 {
    height: 264px;
    margin-left: initial;
  }

  .u-section-1 .u-text-20 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-11 {
    height: 264px;
    margin-left: initial;
  }

  .u-section-1 .u-text-22 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-12 {
    height: 264px;
    margin-left: initial;
  }

  .u-section-1 .u-text-24 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-13 {
    height: 264px;
    margin-left: initial;
  }

  .u-section-1 .u-text-26 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-14 {
    height: 264px;
    margin-left: initial;
  }

  .u-section-1 .u-text-28 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-15 {
    height: 264px;
    margin-left: initial;
  }

  .u-section-1 .u-text-30 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-16 {
    height: 264px;
    margin-left: initial;
  }

  .u-section-1 .u-text-32 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-17 {
    height: 264px;
    margin-left: initial;
  }

  .u-section-1 .u-text-34 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-18 {
    height: 264px;
    margin-left: initial;
  }

  .u-section-1 .u-text-36 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-19 {
    height: 264px;
    margin-left: initial;
  }

  .u-section-1 .u-text-38 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-20 {
    height: 264px;
    margin-left: initial;
  }

  .u-section-1 .u-text-40 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-21 {
    height: 264px;
    margin-left: initial;
  }

  .u-section-1 .u-text-42 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-22 {
    height: 264px;
    margin-left: initial;
  }

  .u-section-1 .u-text-44 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-23 {
    height: 264px;
    margin-left: initial;
  }

  .u-section-1 .u-text-46 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 108px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 108px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 12.5px);
    grid-template-columns: repeat(2, calc(50% - 12.5px));
  }

  .u-section-1 .u-image-1 {
    height: 188px;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 188px;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    height: 188px;
    margin-left: initial;
  }

  .u-section-1 .u-image-4 {
    height: 188px;
    margin-left: initial;
  }

  .u-section-1 .u-image-5 {
    height: 188px;
    margin-left: initial;
  }

  .u-section-1 .u-image-6 {
    height: 188px;
    margin-left: initial;
  }

  .u-section-1 .u-image-7 {
    height: 188px;
    margin-left: initial;
  }

  .u-section-1 .u-image-8 {
    height: 188px;
    margin-left: initial;
  }

  .u-section-1 .u-image-9 {
    height: 188px;
    margin-left: initial;
  }

  .u-section-1 .u-image-10 {
    height: 188px;
    margin-left: initial;
  }

  .u-section-1 .u-image-11 {
    height: 188px;
    margin-left: initial;
  }

  .u-section-1 .u-image-12 {
    height: 188px;
    margin-left: initial;
  }

  .u-section-1 .u-image-13 {
    height: 188px;
    margin-left: initial;
  }

  .u-section-1 .u-image-14 {
    height: 188px;
    margin-left: initial;
  }

  .u-section-1 .u-image-15 {
    height: 188px;
    margin-left: initial;
  }

  .u-section-1 .u-image-16 {
    height: 188px;
    margin-left: initial;
  }

  .u-section-1 .u-image-17 {
    height: 188px;
    margin-left: initial;
  }

  .u-section-1 .u-image-18 {
    height: 188px;
    margin-left: initial;
  }

  .u-section-1 .u-image-19 {
    height: 188px;
    margin-left: initial;
  }

  .u-section-1 .u-image-20 {
    height: 188px;
    margin-left: initial;
  }

  .u-section-1 .u-image-21 {
    height: 188px;
    margin-left: initial;
  }

  .u-section-1 .u-image-22 {
    height: 188px;
    margin-left: initial;
  }

  .u-section-1 .u-image-23 {
    height: 188px;
    margin-left: initial;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-24 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 731px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
    grid-gap: 25px 25px;
  }

  .u-section-1 .u-text-1 {
    width: 306px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    height: 441px;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-text-3 {
    width: 306px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-2 {
    height: 441px;
    margin-left: initial;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-text-5 {
    width: 306px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-3 {
    height: 441px;
    margin-left: initial;
  }

  .u-section-1 .u-text-6 {
    width: auto;
  }

  .u-section-1 .u-text-7 {
    width: 306px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-4 {
    height: 441px;
    margin-left: initial;
  }

  .u-section-1 .u-text-8 {
    width: auto;
  }

  .u-section-1 .u-text-9 {
    width: 306px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-5 {
    height: 441px;
    margin-left: initial;
  }

  .u-section-1 .u-text-10 {
    width: auto;
  }

  .u-section-1 .u-text-11 {
    width: 306px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-6 {
    height: 441px;
    margin-left: initial;
  }

  .u-section-1 .u-text-12 {
    width: auto;
  }

  .u-section-1 .u-text-13 {
    width: 306px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-7 {
    height: 441px;
    margin-left: initial;
  }

  .u-section-1 .u-text-14 {
    width: auto;
  }

  .u-section-1 .u-text-15 {
    width: 306px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-8 {
    height: 441px;
    margin-left: initial;
  }

  .u-section-1 .u-text-16 {
    width: auto;
  }

  .u-section-1 .u-text-17 {
    width: 306px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-9 {
    height: 441px;
    margin-left: initial;
  }

  .u-section-1 .u-text-18 {
    width: auto;
  }

  .u-section-1 .u-text-19 {
    width: 306px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-10 {
    height: 441px;
    margin-left: initial;
  }

  .u-section-1 .u-text-20 {
    width: auto;
  }

  .u-section-1 .u-text-21 {
    width: 306px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-11 {
    height: 441px;
    margin-left: initial;
  }

  .u-section-1 .u-text-22 {
    width: auto;
  }

  .u-section-1 .u-text-23 {
    width: 306px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-12 {
    height: 441px;
    margin-left: initial;
  }

  .u-section-1 .u-text-24 {
    width: auto;
  }

  .u-section-1 .u-text-25 {
    width: 306px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-13 {
    height: 441px;
    margin-left: initial;
  }

  .u-section-1 .u-text-26 {
    width: auto;
  }

  .u-section-1 .u-text-27 {
    width: 306px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-14 {
    height: 441px;
    margin-left: initial;
  }

  .u-section-1 .u-text-28 {
    width: auto;
  }

  .u-section-1 .u-text-29 {
    width: 306px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-15 {
    height: 441px;
    margin-left: initial;
  }

  .u-section-1 .u-text-30 {
    width: auto;
  }

  .u-section-1 .u-text-31 {
    width: 306px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-16 {
    height: 441px;
    margin-left: initial;
  }

  .u-section-1 .u-text-32 {
    width: auto;
  }

  .u-section-1 .u-text-33 {
    width: 306px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-17 {
    height: 441px;
    margin-left: initial;
  }

  .u-section-1 .u-text-34 {
    width: auto;
  }

  .u-section-1 .u-text-35 {
    width: 306px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-18 {
    height: 441px;
    margin-left: initial;
  }

  .u-section-1 .u-text-36 {
    width: auto;
  }

  .u-section-1 .u-text-37 {
    width: 306px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-19 {
    height: 441px;
    margin-left: initial;
  }

  .u-section-1 .u-text-38 {
    width: auto;
  }

  .u-section-1 .u-text-39 {
    width: 306px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-20 {
    height: 441px;
    margin-left: initial;
  }

  .u-section-1 .u-text-40 {
    width: auto;
  }

  .u-section-1 .u-text-41 {
    width: 306px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-21 {
    height: 441px;
    margin-left: initial;
  }

  .u-section-1 .u-text-42 {
    width: auto;
  }

  .u-section-1 .u-text-43 {
    width: 306px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-22 {
    height: 441px;
    margin-left: initial;
  }

  .u-section-1 .u-text-44 {
    width: auto;
  }

  .u-section-1 .u-text-45 {
    width: 306px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-23 {
    height: 441px;
    margin-left: initial;
  }

  .u-section-1 .u-text-46 {
    width: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-24 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-25 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-1 {
    height: 292px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-2 {
    height: 292px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-3 {
    height: 292px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-4 {
    height: 292px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-5 {
    height: 292px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-6 {
    height: 292px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-7 {
    height: 292px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-8 {
    height: 292px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-9 {
    height: 292px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-10 {
    height: 292px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-11 {
    height: 292px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-12 {
    height: 292px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-13 {
    height: 292px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-14 {
    height: 292px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-15 {
    height: 292px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-16 {
    height: 292px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-17 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-17 {
    height: 292px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-18 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-18 {
    height: 292px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-19 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-19 {
    height: 292px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-20 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-20 {
    height: 292px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-21 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-21 {
    height: 292px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-22 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-22 {
    height: 292px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-23 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-23 {
    height: 292px;
    margin-left: initial;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }
}